[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "ext/raygui"]
	path = ext/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
